.content {
    margin: 0 auto;
    display: flex;
}

.side {
    width: 15%;
    height: 100vh;
    background-color: #868686;
    text-align: center;
}

.side__title {
    color: white;
    font-size: 30px;
    margin: 10px auto;
}

.side__button {
    margin: 30px auto;
    width: 80%;
}

.side__button--submit {
    height: 50px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    border: solid #EEEFEB 2px;
}

.main {
    width: 85%;
}

.title {
    padding: 10px 0;
    border-bottom: solid 2px #5F5F5F;
    display: flex;
    justify-content: space-between;
}

.title__image {
    margin: auto 10px;
    width: 79px;
    height: 79px;
    border-radius: 50%;
}

.title__user {
    display: flex;
}

.title__name {
    margin: auto 10px;
    font-size: 36px;
}

.completed__button {
    margin: auto 20px;
}

.completed__button--submit {
    margin: 10px 5px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #FF8282;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    border: solid 2px #FF8282;
    font-size: 16px;
}

.item {
    border-bottom: solid 2px #5F5F5F;
    display: flex;
}

.item__image {
    width: 200px;
    margin: 10px 30px;
}

.item__image img {
    width: 100%;
}

.item__detail--name {
    font-size: 44px;
    margin-bottom: 20px;
}

.item__detail--price {
    font-size: 36px;
    margin: 10px 0;
}

.item__detail--price span {
    font-size: 20px;
}

.history {
    height: 55vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.history__message {
    width: 40%;
    margin: 20px;
    margin-bottom: 30px;
    clear: both;
    text-align: left;
}

.history__message--left {
    float: left;
}

.history__message--right {
    float: right;
    margin-left: auto;
}

.history__user--left {
    display: flex;
}

.history__user--right {
    display: flex;
    flex-direction: row-reverse;
}

.history__user--image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.history__user--name {
    margin: auto 10px;
    font-size: 20px;
}

.history__picture {
    margin: 10px 0;
    width: 30%;
}

.history__picture--right {
    margin-left: auto;
}

.history__picture--image {
    width: 100%;
}

.history__text {
    background-color: #E5E5E5;
    padding: 3px 10px;
    margin: 15px 0;
    border-radius: 3px;
}

.chat {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.chat__wrap {
    display: flex;
}

.chat__textarea {
    margin: auto 10px;
    width: 75%;
    height: 44px;
}

.chat__textarea textarea {
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    border: solid #5F5F5F 1px;
    border-radius: 3px;
    resize: none;
    overflow: hidden;
}

.chat__picture {
    margin: auto 0;
}

.chat__picture--label {
    display: inline-block;
    margin: auto 10px;
    padding: 10px 10px;
    color: red;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px red;
    font-size: 16px;
}

.chat__picture--input {
    display: none;
}

.chat__button {
    margin: 0;
}

.chat__button--submit {
    width: 80px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.chat__button--image {
    width: 100%;
    text-align: center;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin-left: 20px;
}

.history__edit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.history__edit-button,
.history__delete-button {
    margin: 0 10px;
    padding: 0;
    background: none;
    border: none;
    color: #5F5F5F;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 850px) {
    .side {
        width: 20%;
    }

    .side__title {
        font-size: 20px;
    }

    .side__button {
        margin: 15px auto;
    }

    .side__button--submit {
        height: 30px;
        font-size: 12px;
    }

    .main {
        width: 80%;
    }

    .title__image {
        margin: auto 10px;
        width: 60px;
        height: 60px;
    }

    .title__name {
        margin: auto 0;
        font-size: 20px;
    }

    .completed__button {
        margin: auto 20px;
    }

    .completed__button--submit {
        font-size: 12px;
    }

    .item__image {
        width: 100px;
        margin: 10px 30px;
    }

    .item__image img {
        width: 100%;
    }

    .item__detail--name {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .item__detail--price {
        font-size: 18px;
    }

    .item__detail--price span {
        font-size: 12px;
    }

    .history__user--image {
        width: 50px;
        height: 50px;
    }

    .history__user--name {
        font-size: 18px;
    }

    .history__text {
        margin: 5px 0;
    }
    
    .history__text p{
        font-size: 14px;
    } 

    .chat__textarea {
        height: 35px;
        width: 65%;
    }

    .chat__textarea textarea {
        height: 35px;
        line-height: 35px;
        font-size: 18px;
    }

    .chat__picture--label {
        margin: auto 10px;
        padding: 5px 10px;
        font-size: 10px;
    }

    .chat__button--submit {
        width: 60px;
    }

    .form__error {
        font-size: 12px;
    }

    .history__edit-button,
    .history__delete-button {
        margin: 0 10px;
        font-size: 12px;
    }
}