.header {
    background: #000;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.header__logo{
    padding: 15px;
}

.search-form{
    width: 500px;
    margin: auto;
    
}

.search-form__input{
    width: 100%;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    position: relative;
}

.search-form__input::placeholder{
    color: #000;
    opacity: 1;
    font-size: 24px;
    position: absolute;
    top: 3px;

}

.header__login {
    display: flex;
    margin-right: 30px;
}

.logout_form{
    margin: auto;
}

.logout_button,
.login_button,
.mypage_button {
    margin-right: 20px;
    color: #fff;
    border: none;
    background-color: #000;
    font-size: 18px;
}

.sell_button{
    margin: 10px 0;
    width: 80px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}