.content {
    margin: 0 auto;
}

.category {
    width: 100%;
    margin-top: 100px;
    padding-left: 90px;
    display: flex;
    border-bottom: solid 3px #5F5F5F;
}

.category__title {
    margin: 0 30px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.active {
    color: red;
}

.item {
    width: 90%;
    margin: 50px 0 0 5%;
}

.item__image {
    display: flex;
    flex-wrap: wrap;
}

.item__card {
    width: 21%;
}

.item__card:not(:nth-child(4n+4)) {
    margin-right: 5%;
}

.item__card:nth-child(n+5) {
    margin-top: 30px;
}

.item__card a,
.item__card a:visited {
    text-decoration: none;
    color: #000;
}

.item__card--image {
    width: 100%;
}

.sold {
    margin: 10px 5px;
    display: inline-block;
    padding: 0px 10px;
    color: red;
    border-radius: 30px;
    border: solid 2px red;
}