.content {
    margin: 0 auto;
}

.user {
    margin: 50px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.user__image {
    display: flex;
}

.user__image--icon {
    margin: auto 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user__information{
    margin: aoto 50px;
}

.user__image--name {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 36px;
}

.user__profile-edit {
    margin: auto 20px;
}

.user__profile-edit--button {

    padding: 5px 20px;
    color: red;
    background-color: #fff;
    border-radius: 5px;
    border: solid 2px red;
    font-size: 16px;
    font-weight: bold;
}

.category {
    width: 100%;
    margin-top: 100px;
    padding-left: 90px;
    display: flex;
    border-bottom: solid 3px #5F5F5F;
}

.category__title {
    margin: 0 30px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.active{
    color: red;
}

.item {
    width: 90%;
    margin: 50px 0 0 5%;
}

.item__image {
    display: flex;
    flex-wrap: wrap;
}

.item__card {
    width: 21%;
    position: relative;
}

.item__card:not(:nth-child(4n+4)) {
    margin-right: 5%;
}

.item__card:nth-child(n+5) {
    margin-top: 30px;
}

.item__card a,
.item__card a:visited {
    text-decoration: none;
    color: #000;
}

.item__card--image {
    width: 100%;
}

.sold {
    margin: 10px 5px;
    display: inline-block;
    padding: 0px 10px;
    color: red;
    border-radius: 30px;
    border: solid 2px red;
}

.star-rating {
    display: inline-block;

}

.star {
    color: #ccc;
    font-size: 3rem;
    margin-right: 2px;
}

.star.filled {
    color: #FFF048;
}

.badge {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #FF0000;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
}

.category__badge{
    font-size: 22px;
    width: 27px;
    height: 27px;
    margin-bottom: 5px;
}

.item__badge{
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 6px;
    left: 6px;
}